@import '/src/assets/sass/colors';
@import '/src/assets/sass/fonts';
@import '/src/assets/sass/keyframes';
@import '/src/assets/sass/mixins';


// Code ------------------------------------------------------------------------
footer {
    @include flexbox(row, center, center, null);
    width: 100%;
    height: calc(100vh - 6rem);
    padding: 4rem;
    background-color: $institutional-blue;

    .footer-container {
        display: grid;
        grid-template-rows: 2fr 1fr;
        width: 100%;
        height: 100%;

        .top-block {
            @include center-all;
            gap: 8rem;
            width: 100%;
    
    
            .footer__logo {
                @include center-all;
        
                figure {
                    width: auto;
        
                    .logo__1 {
                        width: 280px;
                    }
    
                    .logo__2 {
                        display: none;
                    }
                }
            }
        
            .regulation {
                @include center-all;
                gap: 3.6rem;
        
                .regulation__texts {
                    color: $white;
        
                    h2 {
                        text-align: center;
                        font-size: 2.8rem;
                        font-family: 'Poppins-800', serif;
                        line-height: 2.8rem;
                    }
        
                    h3 {
                        margin-top: 2rem;
                        text-align: center;
                        font-size: 1.6rem;
                        font-family: 'Poppins-400', serif;
                        line-height: 1.6rem;
                    }
                }
    
                .regulation__download-button {
                    position: relative;
                    border-width: 0;
                    z-index: 1;
    
                    .docs {
                        @include flexbox(row, center, center, 1rem);
                        height: 4rem;
                        border-radius: 0.8rem;
                        background-color: #283f66;
                        border: 0.2rem solid #226ae7;
                        color: $white;
                        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                        z-index: 1;
    
                        span {
                            font-size: 1.6rem;
                            font-family: 'Poppins-600', serif;
                            line-height: 1.6rem;
                        }
                    }
    
                    .download {
                        position: absolute;
                        inset: 0;
                        @include flexbox(row, center, center, null);
                        width: 68%;
                        margin: 0 auto;
                        z-index: -1;
                        transform: translateY(0%);
                        background-color: $green;
                        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    
                        svg {
                            polyline,
                            line {
                                animation: docs 1s infinite;
                            }
                        }
                    }
    
                    &:hover {
                        box-shadow: 
                            #00000040 0px 54px 55px, 
                            #0000001f 0px -12px 30px, 
                            #0000001f 0px 4px 6px, 
                            #0000002b 0px 12px 13px, 
                            #00000017 0px -3px 5px;
    
                        .download {
                            transform: translateY(100%)
                        }
                    }
                }
            }
    
            .social-networks {
                @include center-all;
                gap: 2rem;
    
                .social-networks__title {
                    font-size: 1.8rem;
                    font-family: 'Poppins-400', serif;
                    line-height: 1.8rem;
                    color: $white;
                }
    
                .social-networks__icons {
                    @include flexbox(row, center, center, 2rem);
    
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2.8rem;
                        height: 2.8rem;
    
                        svg{
                            height: 2.4rem;
                            fill: $white;
                            transition: all 0.5s ease;
    
                            &:hover {
                                fill: $institutional-green;
                            }
                        }
                        
                        &:nth-child(1) {
                            svg {
                                width: 2.1rem;
                            }
                        }
                    }
                }
            }
        }
    
        .button-block {
            @include center-all;
            gap: 4rem;
            width: 100%;
    
            .copyright {
                @include center-all;
                gap: 0.8rem;
                font-size: 1.2rem;
                font-family: 'Poppins-400', serif;
                color: $white;
                text-align: center;
            }
    
            .links {
                @extend .copyright;
                gap: 1.2rem;
    
                a {
                    font-size: 1.6rem;
                    font-family: 'Poppins-700', serif;
                    list-style: 1.6rem;
                    color: white;
                    transition: all 0.5s ease;
    
                    &:hover {
                        color: $institutional-green;
                    }
                }
            }
        }
    }
}