@import '/src/assets/sass/colors';
@import '/src/assets/sass/fonts';
@import '/src/assets/sass/keyframes';
@import '/src/assets/sass/mixins';


// Code ------------------------------------------------------------------------
@media screen and (min-width:1024px) {
    .navigations__container {
        .navigation__desktop {
            @include navbar-styles;
            display: grid !important;
            grid-template-columns: 1fr 4fr 1fr;
            gap: 2%;
    
            .logo {
                @include logo-button;
            }
    
            .navigation {
                @include flexbox(row, null, center, 4%);
    
                a {
                    @include center-all;
                    gap: 12px;
                    height: 6rem;
                    border-top: 0.52rem solid transparent;
                    border-bottom: 0.52rem solid transparent;
                    transition: all 0.6s ease;
    
                    span {
                        font-size: 1.6rem;
                        font-family: 'Poppins-500', serif;
                        line-height: 1.6rem;
                        color: $black;
                    }
    
                    &:hover {
                        border-bottom: 0.52rem solid $blue;
    
                        span {
                            color: $green;
                        }
                    }
                }
            }
    
            .community {
                @include community-button;
            }
        }
    
        .navigation__mobile, .navigation__phone {
            display: none;
        }
    }
}


.navs-container{
    width: 100%;
    padding: 0;
    margin: 0;
    .main-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #000000;
        color: white;

    
        .main-navbar-logo{
            margin-right:2% ;
            img {
                max-width: 150px; 
                
            }
        }
    
        .main-navbar-links {
            display: flex;
    
            
        .main-navbar-button {
            background: none;
            border: none;
            color: white;
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
    
            &:hover{
                background-color: #555;
            }
        }
    
        }
    
        .main-navbar-platform_container {
            margin-left: auto;
            a{
                color: #111;
                text-decoration: none;
            }
            .main-navbar-platform {
                background-color: #4CAF50;
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    
                    background-color: #45a049;
                }
            }
        }
    }

    .responsive-navbar, .layer{
        display: none;
    }
    .toggle{
        display: none;
        img{
            max-width: 50px;
        }
    }
    
    
    @media screen and (max-width:850px) {

        .toggle{
            display: inline-block;
        }

        .responsive-unactive{
            display: none;
            button{
                display: none;
            }
        }

        .responsive-active{
            display: inline-block;
        }

        

        .active{
            display: block;
            width: 100vw;
            height: 100vh;
            position: absolute;
        }

        .layer{
            background: #000000;
            transition: background-color 0.5s ease;

            
            .layer-header{
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: rgb(2,0,36);
                background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(14,15,15,1) 100%);
                padding: 2% 5%;
                border: solid #fff 2px;
                .layer-logo{
                    img{
                        max-width: 100px;
                    }
                }
                .layer-header-close{
                    
                    display: flex;
                    align-items: center;
                    &:hover{
                        .toggle-close_img{
                            transform: rotate(90deg);
                            cursor: pointer;
                        }
                    }

                    .toggle-close_img{
                        margin: 0 20px;
                        width: 50px;
                        height: 50px;
                        transition: transform 0.5s;
                    }
                    
                }

                
            }

            .layer-body{
                .layer-nav{
                    display: flex;
                    flex-direction: column;
                    font-size:xx-large;
                    a{
                        margin: 5% 3%;
                        text-decoration: none;
                        color: #fff;
                        &:hover{
                            transform: translateY(-10%);
                            color: #bbb;
                        }
                    }

                }
            }
        }

       
    }
    
}