// Background ------------------------------------------------------------------
$light: #fefefe;
$dark: #111812;
$institutional-blue: #011e41;
$institutional-green: #18be58;
$layer-gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,11,25,1) 0%, rgba(1,18,40,1) 0%, rgba(1,21,46,1) 21%, rgba(1,29,63,1) 38%, rgba(1,30,66,1) 95%);

// Text ------------------------------------------------------------------------
$white: #eeeeee;
$gray: #3c3c3c;
$black: #0a0a0a;
$blue: #011e41;
$green: #01ce4f;